<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>슬라이드</title>
  <link rel="stylesheet" href="../components/style.css">
</head>
<body>
  <div id="slideShow">
    <ul class="slides">
      <li><img src="https://github.com/JangG1/Project03/blob/master/frontend/src/assets/rec1.jpg?raw=true" alt=""></li>
      <li><img src="https://github.com/JangG1/Project03/blob/master/frontend/src/assets/rec2.jpg?raw=true" alt=""></li>
      <li><img src="https://github.com/JangG1/Project03/blob/master/frontend/src/assets/rec3.jpg?raw=true" alt=""></li>
      <li><img src="https://github.com/JangG1/Project03/blob/master/frontend/src/assets/rec4.jpg?raw=true" alt=""></li>
      <li><img src="https://github.com/JangG1/Project03/blob/master/frontend/src/assets/rec5.jpg?raw=true" alt=""></li>
      <li><img src="https://github.com/JangG1/Project03/blob/master/frontend/src/assets/rec3.jpg?raw=true" alt=""></li>
    </ul>  
    <p class="controller">
      
      <!-- &lang: 왼쪽 방향 화살표
      &rang: 오른쪽 방향 화살표 -->
      <span class="prev">&lang;</span>  
      <span class="next">&rang;</span>
    </p>
  </div>
  <script src="../components/slideShow.js"></script>
</body>
</html>