<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BackEnd</title>
<style type="text/css">
.title{
	font-family: cursive;
	font-size: 40pt;
	font-weight: bold;
}

h1 {
	font-family: cursive;
	font-size: 34pt;
	font-weight: bold;
}

h2 {
	font-family: cursive;
	font-size: 18pt;
	font-weight: bold;
}

h3 {
	font-family: cursive;
	font-size: 13pt;
	margin: 5px 25px
}

h4 {
	font-family: cursive;
	font-size: 13pt;
	color: #525252;
	margin: 10px 40px
}

body {
	margin: 5px 25px
}
</style>
</head>
<body>
	<h1 class="title">📡 Fastrip Back</div>
	<h1>📚 Skill</div>
	<div>
		<h2>☕ Java 8</h2>
		<h3>- Spring Boot Version 3.9.11</h3>
	</div>

	<div>
		<h2>💾 Database</h2>
		<h3>- MySQL Version 8.0.27</h3>
	</div>

	<div>
		<h2>📘 Library</h2>
		<h3>- Security</h3>
		<h3>- Lombok</h3>
		<h3>- Hibernate (interface. JPA)</h3>
		<h3>- Swagger 2.9.2 </h3>
		<h3>- API</h3>
		<h4>• Kakao Login API</h4>
		<h4>• Naver Login API</h4>
	</div>

</body>
</html>