<html>
    <head>
        <style type="text/css">

        </style>
    </head>
    <body>
<v-date-picker v-model="value" :landscape="true" :reactive="true"></v-date-picker>
<Datepicker class="datePicker" type="" v-model="bothWay" placeholder="가는날" />

Test
    <script>
        $.datepicker.setDefaults({
          dateFormat: 'yymmdd',
          prevText: '이전 달',
          nextText: '다음 달',
          monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
          monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
          dayNames: ['일', '월', '화', '수', '목', '금', '토'],
          dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
          dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
          showMonthAfterYear: true,
          yearSuffix: '년'
        });
        
        $("#calendar1").datepicker({
            dateFormat: 'yy-mm-dd'
        });
        </script>

    </body>
</html>